<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>№ Заказа</th>
            <th>Сумма в $</th>
            <th>Сумма в руб.</th>
            <th>Дата заказа</th>
        </tr>
        {% for row in list_data %}
        <tr>
            <th>{{row[0]}}</th>
            <th>{{row[1]}}</th>
            <th>{{row[2]}}</th>
            <th>{{row[4]}}</th>
            <th>{{row[3]}}</th>
        </tr>
        {% endfor %}

    </table>
</body>
</html>